# App
DEBUG=False
ENVIRONMENT=production

# Database
DATABASE_URL=sqlite:///./cloud_migrate.db

# Security
SECRET_KEY=RwcS6vNqylzyVAU6LXa-hSvGyQrJutM4b9GjIVTnbT4
MASTER_ENCRYPTION_KEY=1c485020e13fac38bb7203bbcaca177f338ffab1b3b1c24ab41fa78a03de5678

# OAuth Google
GOOGLE_CLIENT_ID=seu-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=seu-client-secret
GOOGLE_REDIRECT_URI=http://localhost:8000/api/v1/auth/oauth/google/callback

# Redis/Celery
REDIS_URL=redis://default:xJZdMsCaaf0O4nK0cz1cxXukCKurYaWm@redis-16622.c80.us-east-1-2.ec2.redns.redis-cloud.com:16622
CELERY_BROKER_URL=redis://default:xJZdMsCaaf0O4nK0cz1cxXukCKurYaWm@redis-16622.c80.us-east-1-2.ec2.redns.redis-cloud.com:16622
CELERY_RESULT_BACKEND=redis://default:xJZdMsCaaf0O4nK0cz1cxXukCKurYaWm@redis-16622.c80.us-east-1-2.ec2.redns.redis-cloud.com:16622

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

